<!DOCTYPE html>
<html>
  <head>
    <title>Steve Batcup | Giki Code Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="w-4/5 lg:w-1/2 xl:w-2/5 flex flex-col mx-auto mt-28 px-5">
      <%= render 'layouts/flash_messages' %>

      <div class='mt-4'><%= yield %></div>
    </main>
  </body>
</html>
